---
import Page from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import Input from "../components/Input";
import Dropdown from "../components/Dropdown";
import Button from "../components/Button";

let key = 0;
const url = "http://192.168.4.1/api";
---

<Page lang="en" class="dark">
	<Container>
		<div
			class="bg-white dark:bg-slate-800 shadow overflow-hidden rounded-md space-y-6 p-6"
		>
			<h1 class="text-xl font-medium">LED Control Panel</h1>
			<fieldset>
				<legend class="text-lg">LED Settings</legend>
				<div class="mt-4 space-y-2">
					<Input
						client:load
						url={url}
						key={key++}
						type="number"
						inputmode="numeric">Count</Input
					>
					<Input
						client:load
						url={url}
						key={key++}
						type="number"
						inputmode="numeric">Update delay (ms)</Input
					>
					<Input
						client:load
						url={url}
						key={key++}
						type="range"
						max="255">Brightness</Input
					>
				</div>
			</fieldset>
			<fieldset>
				<legend class="text-lg">Color</legend>
				<div class="mt-4 space-y-2">
					<Dropdown
						client:load
						url={url}
						key={key++}
						options={[
							"Primary",
							"Secondary",
							"Random",
							"Gradient",
							"Moving Gradient",
							"Two Sided Gradient",
							"Moving Two Sided Gradient",
							"Breathing Gradient",
							"Rainbow",
							"Moving Rainbow",
							"Breathing Rainbow",
						]}
					/>
					<Input
						client:load
						url={url}
						key={key++}
						type="color"
						inputmode="numeric">Primary</Input
					>
					<Input
						client:load
						url={url}
						key={key++}
						type="color"
						inputmode="numeric">Secondary</Input
					>
					<Input
						client:load
						url={url}
						key={key++}
						type="number"
						inputmode="numeric">Max value</Input
					>
				</div>
			</fieldset>
			<fieldset>
				<legend class="text-lg">Pattern</legend>
				<div class="mt-4 space-y-2">
					<Dropdown
						client:load
						url={url}
						key={key++}
						options={[
							"Disabled",
							"Static",
							"Sparkle",
							"Random Sparkle",
							"Snake",
							"Multiple Snakes",
							"Breathing",
							"Fill",
							"Fill two sided",
							"Fade",
							"Fade Moving",
						]}
					/>
					<Input
						client:load
						url={url}
						key={key++}
						type="number"
						inputmode="numeric">Option</Input
					>
				</div>
			</fieldset>
			<details>
				<summary class="text-lg select-none">WiFi settings</summary>
				<p>These settings get changed after a reboot.</p>
				<Input client:load url={url} key={key++} type="text"
					>AP Name</Input
				>
				<Input client:load url={url} key={key++} type="text"
					>Password</Input
				>
			</details>
			<Button client:load url={url} key={key++}>Save</Button>
		</div>
	</Container>
</Page>
